@font-face {
  font-family: 'CMU Serif';
  src: url('fonts/cmunti.eot'); /* IE9 Compat Modes */
  src: url('fonts/cmunti.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cmunti.woff') format('woff'), /* Modern Browsers */
       url('fonts/cmunti.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/cmunti.svg#1f119954ff6b70c37e3ddb61d2164971') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('fonts/cmunrm.eot'); /* IE9 Compat Modes */
  src: url('fonts/cmunrm.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cmunrm.woff') format('woff'), /* Modern Browsers */
       url('fonts/cmunrm.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/cmunrm.svg#b19a3fcc59b1d4740e6d6e9eb9cec199') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('fonts/cmunbi.eot'); /* IE9 Compat Modes */
  src: url('fonts/cmunbi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cmunbi.woff') format('woff'), /* Modern Browsers */
       url('fonts/cmunbi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/cmunbi.svg#51e40c307490eb4f915148e752c550d1') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('fonts/cmunbx.eot'); /* IE9 Compat Modes */
  src: url('fonts/cmunbx.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cmunbx.woff') format('woff'), /* Modern Browsers */
       url('fonts/cmunbx.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/cmunbx.svg#d7e0fafe6573441f0dfff33be5e578f6') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}